@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

*{
    margin: 0;
    padding: 0;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
}